@import "../../abstract/variables";

.about-me-section {
    width: 100%;
    max-height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__title-container {
        width: 100%;
        text-align: center;
    }

    &__content-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center; 
        padding: 2rem 1rem;
        border-radius: $border-radius;
    }

    &__about-squares {
        height: max-content;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
        align-items: center;
    }

    &__about-square {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-grow: 1;
        align-items: center;
        gap: 1.5rem;
        text-align: center;
        padding: 1rem;
    }

    &__about-square-title {
        display: flex;
        align-items: center;
        flex: 1;
    }

    &__icon {
        font-size: 2rem;
        transition: color .15s ease-in;

        &:hover {
            color: $blue;
        }

        &--red {
            &:hover {
                color: $red;
            }
        }
    }
}

@media screen and (min-width: 1280px) {
    .about-me-section {
        border-radius: .5rem;
    } 
}

@media screen and (max-width: 980px) {
    .about-me-section {
        &__content-container {
            padding: 1rem;
            justify-content: center;
        }

        &__about-squares {
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem;
        }
    }
}

@media screen and (max-width: 500px) {
    .about-me-section {
        &__content {
            width: 90%;
        }
    }
}