@import "../../abstract/variables";

.contact-section {
    width: 100%;
    max-height: max-content;
    display: flex;
    justify-content: center;
    border-radius: .5rem;
    padding: 5rem 0;

    &__content {
        width: 100%;
        max-width: $content-max-width;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 5rem;
    }

    &__heading {
        width: 100%;
        display: flex;
        flex-direction: row;

        &:before, &:after {
            content: "";
            flex-grow: 1;
            flex-shrink: 1;
            height: 1px;
            margin: auto;
        }

        &:before {
            margin-right: 1rem;
        }

        &:after {
            margin-left: 1rem;
        }
    }


    &__details {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }

    &__text {
        text-align: center;

        &--email {
            cursor: pointer;
        }
    }

    &__contact-details-container {
        width: 100%;
        display: grid;
        grid-template-columns: max-content max-content max-content;
        gap: 2.5rem;
        row-gap: .5rem;
        justify-content: center;
        align-items: center;
    }

    &__contact-detail {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: .5rem;

        &--email {
            display: flex;
            flex-direction: column;
        }
    }

    &__email-popup {
        width: max-content;
        padding: 0 1rem;
        border-radius: .5rem;
        justify-self: center;

        p {
            font-size: 1rem;
        }
    }

    &__contact-detail-icon {
        font-size: 1.75rem;
    }

    &__link {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

}

@media screen and (max-width: 980px) {
    .contact-section {
        &__content {
            width: 90%;
        }
        
    }
}

@media screen and (max-width: 768px) {
    .contact-section {
        &__content, &__details {
            gap: 3rem;
        }

        &__contact-details-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
        }

        &__contact-detail-icon {
            font-size: 1.25rem;
        }

        &__email-popup {
            display: none;
        }
    }
}

@media screen and (max-width: 500px) {
    .contact-section {
        &__content {
            width: 90%;
        }

        &__contact-details-container {
            padding: 1rem;
        }
    }
}