@import "../../abstract/mixins";
@import "../../abstract/variables";

.home-page {
    @include position-page;

    width: 100%;
    max-height: max-content;
    position: absolute;
    display: flex;
    flex-direction: column;
}


@media screen and (max-width: 768px) {
    .home-page {
        gap: 2rem;
    }
}