.projects-section {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    padding: 5rem 0;

    &__content {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5rem;
    }

    &__heading {
        text-align: center;
    }

    &__project-cards-container {
        width: 100%;
        height: max-content;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }
}    

@media screen and (min-width: 1280px) {
    .projects-section {
        border-radius: .5rem;
    }
}

@media screen and (max-width: 980px) {
    .projects-section {
        &__content {
            width: 80%;
        }
    }
}

@media screen and (max-width: 768px) {
    .projects-section {
        &__content {
            gap: 3rem;
        }

        &__project-cards-container {
            flex-direction: column;
            align-items: center;
        }
    }
}

@media screen and (max-width: 500px) {
    .projects-section {
        &__content {
            width: 90%;
        }
    }
}
