.slide-out-menu {
    width: 60vw;
    height: 100vh;
    position: absolute; 
    top: 0;
    left: 100%;
    padding: 0 1rem; 
    transition: transform .2s ease-in-out; 
    display: flex; 
    justify-content: center;
    overflow-y: auto;

    &--display {
        transform: translateX(-100%);
    }

    &__content {
        width: 100%;
        display: flex; 
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    &__top {
        width: 100%;
        height: 3.5rem;
        display: flex;
        align-items: center;
    }

    &__close-button {
        font-size: 1.25rem;
        cursor: pointer;
    }

    &__heading {
        width: 100%;
        text-align: left;
        padding-bottom: 1rem;
    }

    &__bottom {
        width: 100%;
        height: max-content;
        display: flex;
    }

    &__options {
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__option {
        padding: 1rem;
        border-radius: .5rem;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        cursor: pointer;
    }

    &__link, &__option-text {
        width: 100%;
        text-decoration: none;
    }
}

@media screen and (max-width: 500px) {
    .slide-out-menu {
        width: 80vw;
    }
}