@import "../../scss/variables";

.project-card-container {
   width: calc(50% - .5rem);
   max-width: 100%;
   height: max-content;
   border-radius: .25rem;
   box-sizing: border-box;

   &__thumbnail-container {
      height: 60%;
   }

   &__thumbnail {
      border-radius: .25rem .25rem 0 0; 
      width: 100%;
      height: 100%;
   }

   &__details-container {
      height: max-content;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
   }

   &__project-link {
      // max-width: max-content;
      // max-height: max-content;
      text-decoration: none;

      &:hover {
         text-decoration: underline;
      }
   }

   &__text {
      font-size: 1.25rem;
      line-height: 2rem;
   }

}

@media screen and (max-width: 1260px) {
   .project-card-container {
      max-width: 23rem;
   }
}

@media screen and (max-width: 980px) {
   .project-card-container {
      max-width: 100%;
   }
}

@media screen and (max-width: 768px) {
   .project-card-container {
      width: 100%;
   }
}