.contact-form {
    width: 80%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: .5rem;

    &__input-container {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    &__label {
        text-transform: uppercase;
    }

    &__input {
        padding: .5rem;
        border-radius: .25rem;

        &:focus {
            outline: none;
        }

        &--message {
            height: 10rem;
            resize: vertical;
        }
    }

    &__submit-button {
        padding: .5rem;
        border-radius: .25rem;
        cursor: pointer;
    }
}

@media screen and (max-width: 980px) {
    .contact-form {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .contact-form {
        padding: 1.5rem;
    }
}