@import "../abstract/variables";
@import "./typography";

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // scroll-behavior: smooth;
}

body {
    max-height: max-content;
    position: relative;
    display: flex;
    overflow: auto;
    box-sizing: border-box;
}