/* Major Third type scale */
html {
    font-size: 100%; /* 18px */
}

body {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    line-height: 1.75;
}

h1, h2, h3 {
    font-family: "DM Sans", Arial, Helvetica, sans-serif;
    font-weight: bold;
}

h1, h2, h3, h4, h5 {
    width: 100%;
    font-weight: bold;
    // line-height: 1.3;
}

h1 {
    font-size: 3.052rem;
}

h2 {
    font-size: 2.441rem;
}

h3 {
    font-size: 1.953rem;
}

h4 {
    font-size: 1.563rem;
}

h5 {
    font-size: 1.25rem;
}

a {
    text-decoration: none;
}

li, a {
    font-size: 1rem;
}

input, textarea, button {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.tooltip-container .custom-tooltip {
    font-size: .8rem;
    line-height: normal;
}

@media screen and (max-width: 768px) {
    /* Minor Third type scale */
    html {
        font-size: 100%; /* 16px */
    }

    h1 {
        font-size: 2.488rem;
    }

    h2 {
        font-size: 2.074rem;
    }

    h3 {
        font-size: 1.728rem;
    }

    h4 {
        font-size: 1.44rem;
    }

    h5 {
        font-size: 1.2rem;
    }

    a {
        text-decoration: none;
    }

    li {
        font-size: 1rem;
    }
}

@media screen and (max-width: 600px) {
    /* Major Second type scale */
    html {
        font-size: 87.5%; /* 14px */
    }

    h1 {
        font-size: 1.802rem;
    }

    h2 {
        font-size: 1.602rem;
    }

    h3 {
        font-size: 1.424rem;
    }

    h4 {
        font-size: 1.266rem;
    }

    h5 {
        font-size: 1.125rem;
    }

    a {
        text-decoration: none;
    }

    li {
        font-size: 1rem;
    }
}