@import "../../scss/abstract/variables";

.home-page {
    width: 100%;
    max-height: max-content;
    position: absolute;
    top: 3.5rem; 
    display: flex;
    flex-direction: column;
}


@media screen and (max-width: 768px) {
    .home-page {
        gap: 2rem;
    }
}