@import "../../scss/variables";

.home-page {
    width: 100%;
    position: absolute;
    top: 3.5rem; 
    display: flex;
    flex-direction: column;
    gap: 1rem;

        &__section {
        width: 100%; 
        position: relative;
        }
}


@media screen and (max-width: 768px) {
    .home-page {
        gap: 2rem;
    }
}