@import "../../scss/variables";

.home-page-container,
.home-page-section {
    width: 100%; 
}

.home-page-section {
    position: relative;
}

.landing-section-content,
.about-me-section-content,
.my-experience-section-content,
.contact-section-content {
    width: 80%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.landing-section {
    height: calc(100vh - 3.5rem);

    &-content {

        &-left,
        &-right {
            display: flex;
        }

        &-left {
            width: 60%;
            flex-direction: column;
            justify-content: space-evenly;

            h3 {
                font-weight: normal;
                font-size: 1.5rem;
            }

            .quick-links-container {
                display: flex;
                gap: 2rem;

                .quick-link {
                    cursor: pointer;
                    font-size: 2.5rem;
                    transition: transform .15s ease-in-out;
                }

                .quick-link:hover {
                    transform: scale(1.08);
                }

            }
        }
    
        &-right {
            width: 40%;
            justify-content: right;
            align-items: center;

            img {
                height: 80%;
                border-radius: 1rem;
            }
        }
    }
}

.about-me-section {
    min-height: 60vh;

    &-content {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        h2 {
            text-align: center;
        }

        p {
        
        }
    }
}

.my-experience-section {
    min-height: 100vh;

    &-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h2 {
            text-align: center;
        }

        .experience-cards-container {
            height: 75%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
            gap: 2rem;
        }
    }
}

.contact-section {
    min-height: 50vh;

    &-content {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        h2 {
            text-align: center;
        }
    }
}