@import "../../scss/abstract/variables";

.footer-container {
    width: 100%;
    max-height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem 0;

    &__content {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    &__text {
        font-size: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .footer-container {
        padding: 1rem 0;

        &__content {
            flex-direction: column;
            gap: 0rem;
        }

        &__text-separator {
            display: none;
        }
    }
}