@import "../abstract/variables";

.header {
    width: 100%;
    height: $header-height; 
    position: fixed;
    top: 0;
    // backdrop-filter: blur(1.5rem);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 5;

    &__content {
        width: 90%;
        max-width: $content-max-width;
        height: max-content;
        display: grid;
        grid-template-columns: max-content max-content;
        justify-content: space-between;
        align-items: center;
        transition: all .2s ease-in-out;
    }

    &__logo {
        font-size: 1.5rem;
        font-weight: bold;
        text-transform: capitalize;
        text-decoration: none;
    }

    &__links {
        max-width: max-content;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        justify-self: right;
        gap: .25rem;
    }

    &__link {
        height: 100%;
        padding: 0 1rem;
        display: flex;
        align-items: center;
        text-decoration: none;
        border-radius: .25rem;
        transition: background-color .2s ease-in-out;
        cursor: pointer;
    }

    &__icon {
        font-size: $icon-size;
    }

    &__theme-toggler {
        padding: 0 1rem;
        background-color: transparent;
        border: none;
        border-radius: .25rem;
        cursor: pointer;
        transition: color .25s, background-color .25s;
    }

    &__hamburger-menu-icon {
        display: none;
    }
}

@media screen and (max-width: 980px) {
    .header {
        &__content {
            width: 90%;
        }
    }
}

@media screen and (max-width: 768px) {
    .header {
        &__content {
            grid-template-columns: 50% 50%;
        }

        &__logo {
            font-size: 1.25rem;
        }

        &__links {
            display: none;
        }

        &__theme-toggler-container {
            display: none;
        }

        &__hamburger-menu-icon {
            display: inline-block;
            justify-self: flex-end;
            font-size: 1.5rem; 
            cursor: pointer;
        }
    }

}

@media screen and (max-width: 500px) {
    .header {
        &__content {
            width: 90%;
        }
    }
}