.about-me-section {
    width: 100%;
    max-height: max-content;
    display: flex;
    justify-content: center;

    &__content {
        width: 70%;
        max-height: max-content;
        display: flex;
        justify-content: center;
        align-items: center; 
        padding: 5rem 0;
        border-radius: .5rem;
    }

    &__text {
        width: 100%;
        text-align: center;  
    }
}

@media screen and (max-width: 980px) {
    .about-me-section {
        &__content {
            width: 80%;
        }
    }
}

@media screen and (max-width: 768px) {
    .about-me-section {
        &__content {
            padding: 3rem 0;
        }

    }
}

@media screen and (max-width: 500px) {
    .about-me-section {
        &__content {
            width: 90%;
        }
    }
}