.about-me-section {
    width: 100%;
    max-height: max-content;
    display: flex;
    justify-content: center;

    &__content {
        width: 90%;
        max-height: max-content;
        display: flex;
        justify-content: center;
        align-items: center; 
        padding: 5rem 0;
        border-radius: .5rem;
    }

    &__text {
        width: 100%;
        text-align: center;  
    }
}

@media screen and (min-width: 1280px) {
    .about-me-section {
        border-radius: .5rem;
    } 
}

@media screen and (max-width: 980px) {
    .about-me-section {
        &__content {
            width: 90%;
        }
    }
}

@media screen and (max-width: 768px) {
    .about-me-section {
        &__content {
            padding: 3rem 0;
            justify-content: left;
        }

        &__text {
            text-align: left;
        }
    }
}

@media screen and (max-width: 500px) {
    .about-me-section {
        &__content {
            width: 90%;
        }
    }
}