@import "../../scss/variables";

.navbar-container {
    width: 100%;
    height: 3.5rem;
    position: fixed;
    top: 0;
    z-index: 1;

    &__content {
        width: 70%;
        height: 75%;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: grid;
        grid-template-columns: 25% 65% 10%;
        justify-content: space-between;
        align-items: center;
        transition: all .15s ease-in-out;
    }

    &__logo {
        font-family: Poppins, Arial, Helvetica, sans-serif;
        font-size: 1.25rem;
        font-weight: bold;
        text-transform: capitalize;
        text-decoration: none;
    }

    &__links {
        max-width: max-content;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        justify-self: center;
    }

    &__link {
        height: 100%;
        padding: 0 1rem;
        display: flex;
        align-items: center;
        text-decoration: none;
        border-radius: .5rem;
        transition: background-color .2s ease-in-out;
        cursor: pointer;
    }

    &__theme-toggler {
        width: 100%;
        height: 100%;
        justify-self: right;
    }
}

@media screen and (max-width: 980px) {
    .navbar-container {
        &__content {
            width: 80%;
        }
        &__logo {
            font-size: 1rem;
        }
    }
}

@media screen and (max-width: 768px) {
    .navbar-container {
        &__content {
            grid-template-columns: 50% 0% 50%;
        }
    }
}

@media screen and (max-width: 500px) {
    .navbar-container {
        &__content {
            width: 90%;
        }
    }
}