@import "../../scss/variables";

.experience-card-container {
    width: 100%;
    height: 100%;
    // border-radius: .5rem;
    position: relative;
}

.experience-card-content {
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    p {
        font-size: 1.25rem;
    }

}