.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.top {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.slideContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  gap: 1.5rem;
}

.slide {
  width: 100%;
  flex-shrink: 0;
  scroll-snap-align: center;
}

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 0 2rem;
}

.actionButton {
  font-size: 1.25rem;
  background-color: transparent;
  outline: none;
  border: transparent;
  border-radius: 50%;
  opacity: 0.3;
  transition: opacity 0.2s ease-in-out;
}

.slideIndicatorContainer {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.slideIndicator {
  font-size: 0.5rem;
  cursor: pointer;
}