@import "../../abstract/mixins";
@import "../../abstract/variables";
@import "../../base/typography";

.create-post-page {
    @include position-page;

    width: 90%;
    margin-top: 2rem;
    max-height: max-content;
    position: absolute;
    top: $header-height;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

    input, textarea {
        width: 100%;
        border-radius: .25rem;
        outline: none;
    }

    &__content {
        width: 75%;    
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__heading {
        text-align: center;
    }

    &__input-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__title-input {
        padding: .5rem;
    }
}