@import "../scss/abstract/variables";
@import "../scss/base/typography";

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    max-height: max-content;
    margin: 0;
    padding: 0;
    font-family: Inter, Arial, Helvetica, sans-serif;
    position: relative;
    display: flex;
    overflow: auto;
}

.home-page,
.blog-page,
.post-page,
.create-post-page {
    max-width: 1280px;
    position: absolute;
    top: 3.5rem;
    left: 50%;
    transform: translateX(-50%);
}

.dot {
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
}

// .landing-section-content,
// .quick-links-container a {
//     color: #F8F8F8;
// }