h1, h2, h3, p {
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 3.5rem;
    font-weight: bold;
}

h2 {
    font-size: 3rem;
    font-weight: bold;
}

h3 {
    font-size: 2rem;
    font-weight: bold;
}

p {
    font-size: 1.5rem;
    line-height: 2.5rem;
}

li {
    font-size: 1.25rem;
}

input, textarea, button {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

@media screen and (max-width: 980px) {
    h2 {
        font-size: 2.5rem;
    }

    p {
        font-size: 1.25rem; 
        line-height: 2rem;
    }
}

@media screen and (max-width: 768px) {
   h1 {
       font-size: 2.5rem;
   } 

   h2 {
       font-size: 2rem;
   }

   h3 {
       font-size: 1.5rem;
   }

   p {
       font-size: 1rem;
       line-height: 1.75rem;
   }

   li {
       font-size: 1rem;
   }
}

@media screen and (max-width: 500px) {
    h1 {
        font-size: 2.25rem;
        line-height: 2.5rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.25rem;
    }
}