// Dark theme
$dark-theme-primary-bg-col: #121B20;
$dark-theme-secondary-bg-col: #171F25;
$dark-theme-primary-font-col: #F5F5F5;
$dark-theme-secondary-font-col: #4F5B63;
$dark-theme-line-color: #2D343A;
$dark-theme-accent-col: #97DBFB;

// Light theme
$light-theme-primary-bg-col: #F8F8F8;
$light-theme-secondary-bg-col: #F0F1F2;
$light-theme-primary-font-col: #0C1821;
$light-theme-secondary-font-col: #9FA6AB;
$light-theme-line-col: #D8DCE0;
$light-theme-accent-col: #57CC99;